<a href="https://colab.research.google.com/github/RodrigoEslava/Ms_project/blob/main/Concatena%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libraries/ Modules

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

# Open Data

In [ ]:

data_2nd = pd.read_csv("embeddings_D50.txt", sep=" ", header= None)

second_df = pd.DataFrame(data=data_2nd)
second_df.columns = ["genes"] + [str(i) for i in range(1, 51)]



data_1st = pd.read_csv("Decagon_ppi_sem_virgulas_com_index.txt", sep=" ")
first_df = pd.DataFrame(data=data_1st)
first_df.columns=('Gene_1', 'Gene_2')

first_df

        Gene_1  Gene_2
0       114787  375519
1       114787  285613
2       114787    7448
3       114787    4914
4       114787   51343
...        ...     ...
715606    5634    5636
715607    5635    5636
715608    5635    5631
715609    5636    5631
715610    8480    8487

[715611 rows x 2 columns]

In [ ]:
second_df

,genes,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
0,8481,0.169816,0.073120,0.087887,-0.267277,-0.874093,-0.546992,0.480385,0.279860,-0.548257,...,0.184081,-0.333196,0.683625,-0.205395,0.331953,-0.279398,-0.353793,-0.529386,-0.163674,0.602258
1,3301,0.139349,-0.086903,0.096141,-0.563597,-0.699475,-0.659701,0.478668,0.105447,-0.620426,...,0.200914,-0.219695,0.350561,-0.381889,0.407751,-0.156612,-0.226207,-0.742283,-0.188091,0.626081
2,8487,-0.318106,-0.067517,0.209860,0.177182,-0.249350,-0.523518,-0.015496,0.718780,-1.239079,...,0.797625,-0.651433,0.205839,-0.036335,0.426904,0.158833,-0.428774,-0.033264,-0.380717,0.077926
3,8484,0.983731,-0.486247,-0.519608,-0.037551,0.082463,0.172492,1.044214,-0.077451,-0.775231,...,0.286999,-0.316976,0.645431,-0.526980,0.794016,-0.253569,0.810793,-0.640734,0.272748,-0.097868
4,1295,0.110487,0.092239,-1.233775,-0.086475,1.078920,-0.121728,-0.207049,0.758672,-0.783924,...,0.755649,-0.619018,0.660858,-0.522293,1.649438,-0.203488,0.148696,-0.317625,-0.168494,0.447649
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19076,91894,0.090121,0.019607,0.193751,0.383990,0.130532,-0.362469,0.411459,0.018457,0.078949,...,0.267991,-0.145776,-0.282596,0.098423,0.202695,0.090739,-0.376544,0.083988,-0.107363,-0.158526
19077,6794,0.006446,0.393584,0.268773,-0.252336,0.033878,-0.616140,0.577467,0.063406,-0.306401,...,0.262664,0.277268,-0.116343,-0.045316,0.259860,0.263672,-0.399213,0.051540,0.421198,0.077854
19078,119369,-0.199566,0.029426,0.545380,-0.235176,-0.081169,-0.865832,0.198245,0.279360,-0.510752,...,0.547410,0.899515,-0.149806,0.630066,0.404723,-0.259313,0.111323,-0.165137,-0.066624,0.053573
19079,57486,-0.215621,-0.043473,-0.288745,0.204092,0.148876,0.089636,0.205201,0.346139,-0.314357,...,0.446059,0.010872,-0.136435,0.752556,0.550248,-0.059564,0.064050,-0.194645,-0.226479,-0.395458
19080,387601,-0.218200,-0.396778,-0.422683,-0.134190,-0.120638,-0.435601,-0.434566,0.423509,-0.651719,...,0.393573,0.291635,-0.316120,0.391087,0.467723,0.221620,-0.156128,-0.437360,-0.351844,0.016195

In [ ]:
second_df.to_csv("second_df")

# Concatanate vectors positive samples

---

In [ ]:
#oficial
result = list()

classe = list()

for index, row in first_df.iterrows():

            first_column_from_2nd_df = second_df[second_df["genes"].isin([row['Gene_1']])]
            

            second_column_from_2nd_df = second_df[second_df["genes"].isin([row['Gene_2']])]

            third_column = (1)
            
            resulting_tuple = (first_column_from_2nd_df[[str(i) for i in range(1, 51)]].to_string(header = False, index=False), second_column_from_2nd_df[[str(i) for i in range(1, 51)]].to_string(header = False, index=False))

            classe.append(third_column)
           
            result.append(resulting_tuple)


first_df['concat'] = pd.Series(result)
first_df['classe'] = classe
first_df

,Gene_1,Gene_2,concat,classe
0,114787,375519,(-0.218339 0.051927 0.433674 0.37905 -0.303076...,1
1,114787,285613,(-0.218339 0.051927 0.433674 0.37905 -0.303076...,1
2,114787,7448,(-0.218339 0.051927 0.433674 0.37905 -0.303076...,1
3,114787,4914,(-0.218339 0.051927 0.433674 0.37905 -0.303076...,1
4,114787,51343,(-0.218339 0.051927 0.433674 0.37905 -0.303076...,1
...,...,...,...,...
715606,5634,5636,(-0.43536 0.708276 -1.165242 -0.654402 -0.0717...,1
715607,5635,5636,(-0.154959 0.300924 -0.711931 -1.053708 -0.169...,1
715608,5635,5631,(-0.154959 0.300924 -0.711931 -1.053708 -0.169...,1
715609,5636,5631,(-0.020296 0.018399 -0.742146 -0.069207 -0.130...,1
715610,8480,8487,(-0.58776 -0.222611 -0.039749 -0.452438 -0.041...,1

In [ ]:
#first_df = pd.DataFrame(data = first_df)
first_df.to_csv(r"concatanate_positive_samples_50D", header=None, index=None, sep=" ", mode="a")
first_df

In [ ]:
#first_df = pd.DataFrame(data = first_df)
first_df.to_excel(r"concatanate_positive_samples_50D.xlsx", header=None, index=None)
first_df

In [4]:
df_1 = pd.read_csv("concatanate_positive_samples_50D.csv", header = None, sep  = " ")
df_1

,0,1,2,3,4,5,6,7,8,9,...,96,97,98,99,100,101,102,103,104,105
0,114787,375519,NaN,-0.218339,0.051927,0.433674,0.379050,-0.303076,-0.712676,0.246733,...,-0.093185,0.197429,0.196804,0.126834,0.829950,-0.282973,-0.087741,0.356805,NaN,1
1,114787,285613,NaN,-0.218339,0.051927,0.433674,0.379050,-0.303076,-0.712676,0.246733,...,0.411645,1.058466,0.447975,-0.278689,0.018391,0.704961,0.852890,-0.188985,NaN,1
2,114787,7448,NaN,-0.218339,0.051927,0.433674,0.379050,-0.303076,-0.712676,0.246733,...,0.141008,0.697741,-0.052053,0.008418,-0.203921,-0.329396,0.021598,-0.066564,NaN,1
3,114787,4914,NaN,-0.218339,0.051927,0.433674,0.379050,-0.303076,-0.712676,0.246733,...,-0.056626,0.277379,0.462125,0.510014,0.564205,0.191713,-0.279282,-0.163813,NaN,1
4,114787,51343,NaN,-0.218339,0.051927,0.433674,0.379050,-0.303076,-0.712676,0.246733,...,0.005776,0.115309,0.447104,0.288978,0.295816,-0.003162,0.428033,-0.059167,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715606,5634,5636,NaN,-0.435360,0.708276,-1.165242,-0.654402,-0.071758,-1.149898,0.381653,...,0.434680,-0.035237,1.253778,-0.430662,0.516234,-0.861455,0.255972,-0.422215,NaN,1
715607,5635,5636,NaN,-0.154959,0.300924,-0.711931,-1.053708,-0.169078,-1.057866,0.082793,...,0.434680,-0.035237,1.253778,-0.430662,0.516234,-0.861455,0.255972,-0.422215,NaN,1
715608,5635,5631,NaN,-0.154959,0.300924,-0.711931,-1.053708,-0.169078,-1.057866,0.082793,...,0.641225,0.343041,1.130562,-0.598799,0.421601,-0.833853,0.101606,-0.093200,NaN,1
715609,5636,5631,NaN,-0.020296,0.018399,-0.742146,-0.069207,-0.130118,-0.850921,0.585158,...,0.641225,0.343041,1.130562,-0.598799,0.421601,-0.833853,0.101606,-0.093200,NaN,1
715610,8480,8487,NaN,-0.587760,-0.222611,-0.039749,-0.452438,-0.041736,-0.393080,0.015196,...,0.205839,-0.036335,0.426904,0.158833,-0.428774,-0.033264,-0.380717,0.077926,NaN,1

In [5]:
df_1 = pd.DataFrame(data = df_1)
df_1_drop = df_1.dropna(axis = "columns")

In [6]:
df_1_drop

,0,1,3,4,5,6,7,8,9,10,...,95,96,97,98,99,100,101,102,103,105
0,114787,375519,-0.218339,0.051927,0.433674,0.379050,-0.303076,-0.712676,0.246733,-0.184586,...,0.582748,-0.093185,0.197429,0.196804,0.126834,0.829950,-0.282973,-0.087741,0.356805,1
1,114787,285613,-0.218339,0.051927,0.433674,0.379050,-0.303076,-0.712676,0.246733,-0.184586,...,0.718021,0.411645,1.058466,0.447975,-0.278689,0.018391,0.704961,0.852890,-0.188985,1
2,114787,7448,-0.218339,0.051927,0.433674,0.379050,-0.303076,-0.712676,0.246733,-0.184586,...,0.226083,0.141008,0.697741,-0.052053,0.008418,-0.203921,-0.329396,0.021598,-0.066564,1
3,114787,4914,-0.218339,0.051927,0.433674,0.379050,-0.303076,-0.712676,0.246733,-0.184586,...,-0.330690,-0.056626,0.277379,0.462125,0.510014,0.564205,0.191713,-0.279282,-0.163813,1
4,114787,51343,-0.218339,0.051927,0.433674,0.379050,-0.303076,-0.712676,0.246733,-0.184586,...,0.249835,0.005776,0.115309,0.447104,0.288978,0.295816,-0.003162,0.428033,-0.059167,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715606,5634,5636,-0.435360,0.708276,-1.165242,-0.654402,-0.071758,-1.149898,0.381653,-0.539064,...,-0.552398,0.434680,-0.035237,1.253778,-0.430662,0.516234,-0.861455,0.255972,-0.422215,1
715607,5635,5636,-0.154959,0.300924,-0.711931,-1.053708,-0.169078,-1.057866,0.082793,-0.739722,...,-0.552398,0.434680,-0.035237,1.253778,-0.430662,0.516234,-0.861455,0.255972,-0.422215,1
715608,5635,5631,-0.154959,0.300924,-0.711931,-1.053708,-0.169078,-1.057866,0.082793,-0.739722,...,-0.880542,0.641225,0.343041,1.130562,-0.598799,0.421601,-0.833853,0.101606,-0.093200,1
715609,5636,5631,-0.020296,0.018399,-0.742146,-0.069207,-0.130118,-0.850921,0.585158,-0.603857,...,-0.880542,0.641225,0.343041,1.130562,-0.598799,0.421601,-0.833853,0.101606,-0.093200,1
715610,8480,8487,-0.587760,-0.222611,-0.039749,-0.452438,-0.041736,-0.393080,0.015196,0.410702,...,-0.651433,0.205839,-0.036335,0.426904,0.158833,-0.428774,-0.033264,-0.380717,0.077926,1

In [8]:
df_1_drop.to_csv("class_1_vectors_D50.txt", header = None, index = None, sep = " ")


# Creating random entry


# Open data and creating list of genes

In [ ]:
df_arestas = pd.read_csv(r"Decagon_ppi_sem_virgulas.txt", sep = " ", header = None)
df_arestas = pd.DataFrame(data = df_arestas)

split_df_0 = df_arestas[0]
split_df_1 = df_arestas[1]

lista_de_genes_duplicada = pd.concat([split_df_0,split_df_1])
lista_de_genes = lista_de_genes_duplicada.drop_duplicates()

lista_de_genes = pd.DataFrame(data = lista_de_genes)
lista_de_genes

             0
0       114787
18      114786
21      114785
47      114784
52      114783
...        ...
705095   65121
706959  728911
707331  728072
710291   10990
714852  440955

[19081 rows x 1 columns]

In [ ]:
lista_de_genes.to_csv(r"lista_de_genes", header=None, index=None, sep=" ", mode="a")

# Creating Random Graph

In [ ]:
np.random.seed(0)

#lista_de_genes = pd.DataFrame(data = lista_de_genes)
lista_randomica = []

for i in range(718600):

  
  
  first_column = lista_de_genes.sample()
 
          
  second_column = lista_de_genes.sample()
            
  resulting_list = [first_column.to_string(header = False, index = False), second_column.to_string(header = False , index = False)]
  
  lista_randomica.append(resulting_list)

lista_randomica = pd.DataFrame(data = lista_randomica )
lista_randomica

             0       1
0       339488   54507
1         8737    4162
2        85450   10744
3         9411    2027
4        90701  257000
...        ...     ...
718595   26073   27136
718596    7307   27445
718597  121506   55863
718598   26824   63982
718599   56624    4242

[718600 rows x 2 columns]

In [ ]:
lista_randomica

             0       1
0        50604    6097
1       132954    1739
2         5143    1788
3        91750    5066
4         6634   56652
...        ...     ...
717995   51065    4908
717996   55063  390199
717997  259266    4815
717998  168002   51715
717999    3290  133418

[718000 rows x 2 columns]

In [ ]:
lista_randomica.to_csv("lista_randomica.txt", header=None, index=None, sep=" ", mode="a")
lista_randomica

             0       1
0       339488   54507
1         8737    4162
2        85450   10744
3         9411    2027
4        90701  257000
...        ...     ...
718595   26073   27136
718596    7307   27445
718597  121506   55863
718598   26824   63982
718599   56624    4242

[718600 rows x 2 columns]

In [ ]:
lista_randomica = pd.read_csv("lista_randomica.txt", header=None, sep=" ")
lista_randomica

             0       1
0       339488   54507
1         8737    4162
2        85450   10744
3         9411    2027
4        90701  257000
...        ...     ...
718595   26073   27136
718596    7307   27445
718597  121506   55863
718598   26824   63982
718599   56624    4242

[718600 rows x 2 columns]

In [ ]:
lista_ran_sem_dupli = lista_randomica.drop_duplicates()
lista_ran_sem_dupli

             0       1
0       339488   54507
1         8737    4162
2        85450   10744
3         9411    2027
4        90701  257000
...        ...     ...
718595   26073   27136
718596    7307   27445
718597  121506   55863
718598   26824   63982
718599   56624    4242

[717904 rows x 2 columns]

In [ ]:
lista_ran_sem_dupli["soma_colunas"] = lista_ran_sem_dupli[0] + lista_ran_sem_dupli[1]
lista_ran_sem_dupli["multiplicaÃ§Ã£o_colunas"] = lista_ran_sem_dupli[0] * lista_ran_sem_dupli[1]

lista_ran_sem_dupli["primeira_coluna^2"] = lista_ran_sem_dupli[0] * lista_ran_sem_dupli[0]

lista_ran_sem_dupli["subtraÃ§Ã£o_col_^2_col_multiplicaÃ§Ã£o"] = lista_ran_sem_dupli["primeira_coluna^2"] - lista_ran_sem_dupli["multiplicaÃ§Ã£o_colunas"]

lista_ran_sem_dupli["soma_soma_col_multiplicaÃ§Ã£o"] = lista_ran_sem_dupli["soma_colunas"] + lista_ran_sem_dupli["multiplicaÃ§Ã£o_colunas"]

<ipython-input-87-81034096f90f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lista_ran_sem_dupli["soma_colunas"] = lista_ran_sem_dupli[0] + lista_ran_sem_dupli[1]
<ipython-input-87-81034096f90f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lista_ran_sem_dupli["multiplicaÃ§Ã£o_colunas"] = lista_ran_sem_dupli[0] * lista_ran_sem_dupli[1]
<ipython-input-87-81034096f90f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lista_ran_sem_dupli["primeira_coluna^2"] = lista_ran_sem_dupli[0] * lista_ran_sem_dupli[0]
<ipython-input-87-81034096f90f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lista_ran_sem_dupli["subtraÃ§Ã£o_col_^2_col_multiplicaÃ§Ã£o"] = lista_ran_sem_dupli["primeira_coluna^2"] - lista_ran_sem_dupli["multiplicaÃ§Ã£o_colunas"]
<ipython-input-87-81034096f90f>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lista_ran_sem_dupli["soma_soma_col_multiplicaÃ§Ã£o"] = lista_ran_sem_dupli["soma_colunas"] + lista_ran_sem_dupli["multiplicaÃ§Ã£o_colunas"]

In [ ]:
l_r_s_d_m = lista_ran_sem_dupli.drop_duplicates(subset = ["soma_soma_col_multiplicaÃ§Ã£o"])
l_r_s_d_m

,0,1,soma_colunas,multiplicaÃ§Ã£o_colunas,primeira_coluna^2,subtraÃ§Ã£o_col_^2_col_multiplicaÃ§Ã£o,soma_soma_col_multiplicaÃ§Ã£o
0,339488,54507,393995,18504472416,115252102144,96747629728,18504866411
1,8737,4162,12899,36363394,76335169,39971775,36376293
2,85450,10744,96194,918074800,7301702500,6383627700,918170994
3,9411,2027,11438,19076097,88566921,69490824,19087535
4,90701,257000,347701,23310157000,8226671401,-15083485599,23310504701
...,...,...,...,...,...,...,...
718595,26073,27136,53209,707516928,679801329,-27715599,707570137
718596,7307,27445,34752,200540615,53392249,-147148366,200575367
718597,121506,55863,177369,6787689678,14763708036,7976018358,6787867047
718598,26824,63982,90806,1716253168,719526976,-996726192,1716343974
718599,56624,4242,60866,240199008,3206277376,2966078368,240259874

In [ ]:
l_r_s_d_s = l_r_s_d_m[l_r_s_d_m['subtraÃ§Ã£o_col_^2_col_multiplicaÃ§Ã£o'] != 0]

l_r_s_d_s = pd.DataFrame(data = l_r_s_d_s)

l_r_s_d_s

,0,1,soma_colunas,multiplicaÃ§Ã£o_colunas,primeira_coluna^2,subtraÃ§Ã£o_col_^2_col_multiplicaÃ§Ã£o,soma_soma_col_multiplicaÃ§Ã£o
0,339488,54507,393995,18504472416,115252102144,96747629728,18504866411
1,8737,4162,12899,36363394,76335169,39971775,36376293
2,85450,10744,96194,918074800,7301702500,6383627700,918170994
3,9411,2027,11438,19076097,88566921,69490824,19087535
4,90701,257000,347701,23310157000,8226671401,-15083485599,23310504701
...,...,...,...,...,...,...,...
718595,26073,27136,53209,707516928,679801329,-27715599,707570137
718596,7307,27445,34752,200540615,53392249,-147148366,200575367
718597,121506,55863,177369,6787689678,14763708036,7976018358,6787867047
718598,26824,63982,90806,1716253168,719526976,-996726192,1716343974
718599,56624,4242,60866,240199008,3206277376,2966078368,240259874

In [ ]:
arestas_randomicas = []
arestas_randomicas = pd.DataFrame(data = arestas_randomicas, columns = [0,1])
arestas_randomicas[0] = l_r_s_d_s[0]
arestas_randomicas[1] = l_r_s_d_s[1]

arestas_randomicas

             0       1
0       339488   54507
1         8737    4162
2        85450   10744
3         9411    2027
4        90701  257000
...        ...     ...
718595   26073   27136
718596    7307   27445
718597  121506   55863
718598   26824   63982
718599   56624    4242

[716261 rows x 2 columns]

In [ ]:
arestas_randomicas.to_csv(r"arestas_randomicas.txt", header = None, index = None, sep = " ")

# Concatenate Vectors Negative Samples

# Open Data

In [ ]:
data_1st = pd.read_csv("arestas_randomicas.txt", sep=" ")
first_df = pd.DataFrame(data=data_1st)
first_df.columns=('Gene_1', 'Gene_2')

data_2nd = pd.read_csv("embeddings_D50.txt", sep=" ", header= None)
second_df = pd.DataFrame(data=data_2nd)
second_df.columns = ["genes"] + [str(i) for i in range(1, 51)]


data_3st = pd.read_csv("Decagon_ppi_sem_virgulas_com_index.txt", sep=" ")
third_df = pd.DataFrame(data = data_3st)
third_df.columns=('Gene_1', 'Gene_2')

first_df

        Gene_1  Gene_2
0         8737    4162
1        85450   10744
2         9411    2027
3        90701  257000
4         2046   11093
...        ...     ...
716255   26073   27136
716256    7307   27445
716257  121506   55863
716258   26824   63982
716259   56624    4242

[716260 rows x 2 columns]

In [ ]:
second_df

,genes,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
0,8481,0.169816,0.073120,0.087887,-0.267277,-0.874093,-0.546992,0.480385,0.279860,-0.548257,...,0.184081,-0.333196,0.683625,-0.205395,0.331953,-0.279398,-0.353793,-0.529386,-0.163674,0.602258
1,3301,0.139349,-0.086903,0.096141,-0.563597,-0.699475,-0.659701,0.478668,0.105447,-0.620426,...,0.200914,-0.219695,0.350561,-0.381889,0.407751,-0.156612,-0.226207,-0.742283,-0.188091,0.626081
2,8487,-0.318106,-0.067517,0.209860,0.177182,-0.249350,-0.523518,-0.015496,0.718780,-1.239079,...,0.797625,-0.651433,0.205839,-0.036335,0.426904,0.158833,-0.428774,-0.033264,-0.380717,0.077926
3,8484,0.983731,-0.486247,-0.519608,-0.037551,0.082463,0.172492,1.044214,-0.077451,-0.775231,...,0.286999,-0.316976,0.645431,-0.526980,0.794016,-0.253569,0.810793,-0.640734,0.272748,-0.097868
4,1295,0.110487,0.092239,-1.233775,-0.086475,1.078920,-0.121728,-0.207049,0.758672,-0.783924,...,0.755649,-0.619018,0.660858,-0.522293,1.649438,-0.203488,0.148696,-0.317625,-0.168494,0.447649
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19076,91894,0.090121,0.019607,0.193751,0.383990,0.130532,-0.362469,0.411459,0.018457,0.078949,...,0.267991,-0.145776,-0.282596,0.098423,0.202695,0.090739,-0.376544,0.083988,-0.107363,-0.158526
19077,6794,0.006446,0.393584,0.268773,-0.252336,0.033878,-0.616140,0.577467,0.063406,-0.306401,...,0.262664,0.277268,-0.116343,-0.045316,0.259860,0.263672,-0.399213,0.051540,0.421198,0.077854
19078,119369,-0.199566,0.029426,0.545380,-0.235176,-0.081169,-0.865832,0.198245,0.279360,-0.510752,...,0.547410,0.899515,-0.149806,0.630066,0.404723,-0.259313,0.111323,-0.165137,-0.066624,0.053573
19079,57486,-0.215621,-0.043473,-0.288745,0.204092,0.148876,0.089636,0.205201,0.346139,-0.314357,...,0.446059,0.010872,-0.136435,0.752556,0.550248,-0.059564,0.064050,-0.194645,-0.226479,-0.395458
19080,387601,-0.218200,-0.396778,-0.422683,-0.134190,-0.120638,-0.435601,-0.434566,0.423509,-0.651719,...,0.393573,0.291635,-0.316120,0.391087,0.467723,0.221620,-0.156128,-0.437360,-0.351844,0.016195

In [ ]:
third_df

        Gene_1  Gene_2
0       114787  375519
1       114787  285613
2       114787    7448
3       114787    4914
4       114787   51343
...        ...     ...
715606    5634    5636
715607    5635    5636
715608    5635    5631
715609    5636    5631
715610    8480    8487

[715611 rows x 2 columns]

# Check duplicate rows in all datasets of arestas

In [ ]:
import time

# Code 2
start_time = time.time()

# Insert code 1 here
first_df = first_df.apply(lambda x: np.sort(x), axis=1)
first_df = first_df.drop_duplicates()

end_time = time.time()
time_elapsed = end_time - start_time
print("Time taken for code 2:", time_elapsed)

#teste1

In [ ]:
first_df.to_csv("arestas_randomicas_organizadas.txt", header = None, index = None)
first_df.to_csv("arestas_randomicas_organizadas.csv", header = None, index = None)
first_df.to_excel("arestas_randomicas_organizadas.xlsx", header = None, index = None)

In [ ]:
import time

# Code 1
start_time = time.time()

# Insert code 1 here
#delete reverse rows

arestas_totais = arestas_totais.apply(lambda x: sorted(x), axis=1)

#teste = teste.apply(lambda x: sorted(x), axis=1)

end_time = time.time()
time_elapsed = end_time - start_time
print("Time taken for code 1:", time_elapsed)







#arestas_totais = arestas_totais.drop_duplicates()

#teste = teste.drop_duplicates()
#arestas_totais
#teste

Time taken for code 1: 0.001312255859375

In [ ]:
arestas_totais = pd.concat([third_df,first_df])
arestas_totais

        Gene_1  Gene_2
0       114787  375519
1       114787  285613
2       114787    7448
3       114787    4914
4       114787   51343
...        ...     ...
716255   26073   27136
716256    7307   27445
716257  121506   55863
716258   26824   63982
716259   56624    4242

[1431871 rows x 2 columns]

In [ ]:
arestas_totais.loc[[715610]]

In [ ]:
#teste para dropar valores duplicados inversos
teste = pd.read_csv("arestas_teste.txt", sep=" ", header = None)
teste = pd.DataFrame(data=teste)
#teste.columns=('Gene_1', 'Gene_2')
teste

   0  1
0  1  2
1  2  1
2  3  4
3  4  6
4  5  6
5  7  8
6  9  1

In [ ]:
result = list()

classe = list()

for index, row in first_df.iterrows():

            first_column_from_2nd_df = second_df[second_df["genes"].isin([row['Gene_1']])]
            

            second_column_from_2nd_df = second_df[second_df["genes"].isin([row['Gene_2']])]

            third_column = (0)
            
            resulting_tuple = (first_column_from_2nd_df[[str(i) for i in range(1, 51)]].to_string(header = False, index=False), second_column_from_2nd_df[[str(i) for i in range(1, 51)]].to_string(header = False, index=False))

            classe.append(third_column)
           
            result.append(resulting_tuple)


first_df['concat'] = pd.Series(result)
first_df['classe'] = classe
first_df.to_csv("negative_samples_D50.txt", header = None, index = None)
first_df.to_excel("negative_samples_D50.xlsx", header = None, index = None)
first_df

,Gene_1,Gene_2,concat,classe
0,8737,4162,(-0.209248 0.357954 0.629196 -0.184255 0.05688...,0
1,85450,10744,(0.031433 -0.075381 -0.331462 0.397083 -0.1937...,0
2,9411,2027,(0.125079 -0.491263 -0.06774 0.348342 0.386394...,0
3,90701,257000,(-0.295387 -0.190678 0.151679 -0.216568 -0.419...,0
4,2046,11093,(-0.49025 0.23412 0.411242 -0.281497 0.042314 ...,0
...,...,...,...,...
716255,26073,27136,(0.607534 -0.314015 -0.009504 0.569328 -0.2090...,0
716256,7307,27445,(0.277981 -0.249594 -0.0268 0.068981 -0.006399...,0
716257,121506,55863,(-1.10803 0.042054 -0.297944 -0.779062 0.10368...,0
716258,26824,63982,(0.231335 -0.46473 0.123121 -0.186753 -0.44794...,0
716259,56624,4242,(0.731253 -0.121182 0.246354 0.052531 0.097449...,0

In [ ]:
first_df

,Gene_1,Gene_2,concat,classe
0,8737,4162,(0.227824 0.111845 0.915019 -0.225481 -0.71403...,0
1,85450,10744,"(0.810568 0.462844 1.805829 0.941257 -0.56275,...",0
2,9411,2027,(0.147368 0.181856 1.210494 -0.781029 -0.00346...,0
3,90701,257000,(1.331824 1.552839 -0.055379 -0.544017 -0.7889...,0
4,2046,11093,(0.553483 -0.110436 1.490447 -0.450007 0.07933...,0
...,...,...,...,...
715606,90737,339855,"(0.20075 0.274724 0.62451 -0.899938 -0.511145,...",0
715607,310,4325,(0.155255 0.308197 0.719711 -0.669243 -0.47317...,0
715608,6585,8079,"(0.513246 0.24714 2.436578 -0.277446 0.693172,...",0
715609,4881,63899,(1.374483 0.561892 0.210898 -0.872078 -0.15180...,0
715610,55556,8226,(2.373171 1.818255 1.237502 -0.562256 0.822018...,0

In [28]:
df_n = pd.read_csv("/content/drive/MyDrive/USP/Projeto Mestrado/pipeline completo/df_finais/negative_samples_D50.csv", header = None, sep = " ")
df_n = pd.DataFrame(data = df_n)
df_n.dropna(axis = "columns", inplace = True)
df_n

,0,1,3,4,5,6,7,8,9,10,...,97,98,99,100,101,102,103,104,105,107
0,8737,4162,-0.209248,0.357954,0.629196,-0.184255,0.056885,-0.114857,0.350544,0.437130,...,0.908823,0.193535,0.601158,0.472143,0.416518,0.165616,-0.131217,-0.149484,0.169427,0
1,85450,10744,0.031433,-0.075381,-0.331462,0.397083,-0.193742,-0.213161,0.124142,-0.106995,...,0.088927,-0.372883,0.766825,0.567994,-0.274872,-0.010145,0.125821,0.652788,0.041750,0
2,9411,2027,0.125079,-0.491263,-0.067740,0.348342,0.386394,-0.614227,0.647710,-0.113106,...,0.208518,-0.419416,0.523473,0.206712,-0.084779,0.145219,-0.224048,0.220312,0.221243,0
3,90701,257000,-0.295387,-0.190678,0.151679,-0.216568,-0.419352,0.025944,0.253975,0.175358,...,-0.524165,-0.357058,0.524379,0.222225,0.068945,-0.049363,-0.116879,-0.165496,-0.057737,0
4,2046,11093,-0.490250,0.234120,0.411242,-0.281497,0.042314,-0.492857,-0.121489,-0.601589,...,0.265339,1.157335,0.535589,0.897540,0.075296,-0.515876,-0.380383,-0.059800,-0.044110,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716255,26073,27136,0.607534,-0.314015,-0.009504,0.569328,-0.209084,-0.015516,-0.485512,0.570272,...,0.490145,0.035110,0.521071,-0.131200,-0.350345,0.468248,-0.109081,0.080244,0.847044,0
716256,7307,27445,0.277981,-0.249594,-0.026800,0.068981,-0.006399,-0.358557,0.711154,0.716538,...,-0.248095,-0.730758,0.879439,0.500469,-0.018831,0.447715,-0.227315,0.774827,0.074485,0
716257,121506,55863,-1.108030,0.042054,-0.297944,-0.779062,0.103685,-0.881548,0.398213,0.340686,...,-0.189565,-1.007562,0.383418,0.877657,-0.015432,-0.575488,-0.747622,-0.308536,-0.192563,0
716258,26824,63982,0.231335,-0.464730,0.123121,-0.186753,-0.447949,-0.402791,0.528474,1.347892,...,0.126633,-0.537590,0.554476,1.298565,0.605334,0.601518,-0.250460,0.008478,-0.513793,0
716259,56624,4242,0.731253,-0.121182,0.246354,0.052531,0.097449,0.095790,-0.199036,0.574468,...,0.138431,-0.654103,0.720391,0.008536,-0.221221,-0.193767,-0.183960,-0.116413,-0.077234,0

In [29]:
#fit the range of the data

drop_rows = list(range(715611,716260))

df_n.drop(index = df_n.iloc[drop_rows]. index.tolist(), inplace = True)
df_n

,0,1,3,4,5,6,7,8,9,10,...,97,98,99,100,101,102,103,104,105,107
0,8737,4162,-0.209248,0.357954,0.629196,-0.184255,0.056885,-0.114857,0.350544,0.437130,...,0.908823,0.193535,0.601158,0.472143,0.416518,0.165616,-0.131217,-0.149484,0.169427,0
1,85450,10744,0.031433,-0.075381,-0.331462,0.397083,-0.193742,-0.213161,0.124142,-0.106995,...,0.088927,-0.372883,0.766825,0.567994,-0.274872,-0.010145,0.125821,0.652788,0.041750,0
2,9411,2027,0.125079,-0.491263,-0.067740,0.348342,0.386394,-0.614227,0.647710,-0.113106,...,0.208518,-0.419416,0.523473,0.206712,-0.084779,0.145219,-0.224048,0.220312,0.221243,0
3,90701,257000,-0.295387,-0.190678,0.151679,-0.216568,-0.419352,0.025944,0.253975,0.175358,...,-0.524165,-0.357058,0.524379,0.222225,0.068945,-0.049363,-0.116879,-0.165496,-0.057737,0
4,2046,11093,-0.490250,0.234120,0.411242,-0.281497,0.042314,-0.492857,-0.121489,-0.601589,...,0.265339,1.157335,0.535589,0.897540,0.075296,-0.515876,-0.380383,-0.059800,-0.044110,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715606,90737,339855,-0.299822,0.073110,-0.012066,0.064782,-0.182190,-0.198826,0.568433,0.386396,...,-0.193971,0.069791,-1.148958,0.031849,0.104723,0.750949,-0.188681,0.895546,0.247883,0
715607,310,4325,-0.090669,0.012640,-0.389824,0.037508,0.220777,-0.577209,0.255316,0.344268,...,-0.227559,0.906436,0.406652,1.064613,0.322546,0.138281,-0.324130,0.015952,0.281831,0
715608,6585,8079,-0.018634,0.060265,0.285404,-0.016298,0.412535,0.123264,0.647300,0.153524,...,-0.121844,-0.396580,0.522469,0.664378,0.126808,0.028348,0.072730,0.781687,0.404790,0
715609,4881,63899,0.376214,0.035402,-0.026258,0.173349,0.416900,-0.438496,0.514068,0.107551,...,0.096137,0.026553,0.933624,0.594865,0.385034,-0.439389,0.039829,0.344956,-0.593266,0
715610,55556,8226,0.268746,-0.073208,-1.060397,0.506022,-0.044204,-0.704936,0.528931,-0.586521,...,0.250320,-0.197718,-0.567409,1.264782,-0.125973,0.972720,-1.131025,0.405513,0.303397,0

In [30]:
df_n.to_csv("class_0_vectors.txt", header = None, index = None, sep = " ")

In [31]:
df_p = pd.read_csv("class_1_vectors_D50.txt", header = None, sep = " ")
df_p = pd.DataFrame(data = df_p)



df_n = pd.read_csv("class_0_vectors.txt", header = None, sep = " ")
df_n = pd.DataFrame(data = df_n)



df_p

,0,1,2,3,4,5,6,7,8,9,...,93,94,95,96,97,98,99,100,101,102
0,114787,375519,-0.218339,0.051927,0.433674,0.379050,-0.303076,-0.712676,0.246733,-0.184586,...,0.582748,-0.093185,0.197429,0.196804,0.126834,0.829950,-0.282973,-0.087741,0.356805,1
1,114787,285613,-0.218339,0.051927,0.433674,0.379050,-0.303076,-0.712676,0.246733,-0.184586,...,0.718021,0.411645,1.058466,0.447975,-0.278689,0.018391,0.704961,0.852890,-0.188985,1
2,114787,7448,-0.218339,0.051927,0.433674,0.379050,-0.303076,-0.712676,0.246733,-0.184586,...,0.226083,0.141008,0.697741,-0.052053,0.008418,-0.203921,-0.329396,0.021598,-0.066564,1
3,114787,4914,-0.218339,0.051927,0.433674,0.379050,-0.303076,-0.712676,0.246733,-0.184586,...,-0.330690,-0.056626,0.277379,0.462125,0.510014,0.564205,0.191713,-0.279282,-0.163813,1
4,114787,51343,-0.218339,0.051927,0.433674,0.379050,-0.303076,-0.712676,0.246733,-0.184586,...,0.249835,0.005776,0.115309,0.447104,0.288978,0.295816,-0.003162,0.428033,-0.059167,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715606,5634,5636,-0.435360,0.708276,-1.165242,-0.654402,-0.071758,-1.149898,0.381653,-0.539064,...,-0.552398,0.434680,-0.035237,1.253778,-0.430662,0.516234,-0.861455,0.255972,-0.422215,1
715607,5635,5636,-0.154959,0.300924,-0.711931,-1.053708,-0.169078,-1.057866,0.082793,-0.739722,...,-0.552398,0.434680,-0.035237,1.253778,-0.430662,0.516234,-0.861455,0.255972,-0.422215,1
715608,5635,5631,-0.154959,0.300924,-0.711931,-1.053708,-0.169078,-1.057866,0.082793,-0.739722,...,-0.880542,0.641225,0.343041,1.130562,-0.598799,0.421601,-0.833853,0.101606,-0.093200,1
715609,5636,5631,-0.020296,0.018399,-0.742146,-0.069207,-0.130118,-0.850921,0.585158,-0.603857,...,-0.880542,0.641225,0.343041,1.130562,-0.598799,0.421601,-0.833853,0.101606,-0.093200,1
715610,8480,8487,-0.587760,-0.222611,-0.039749,-0.452438,-0.041736,-0.393080,0.015196,0.410702,...,-0.651433,0.205839,-0.036335,0.426904,0.158833,-0.428774,-0.033264,-0.380717,0.077926,1

In [33]:
df_n

,0,1,2,3,4,5,6,7,8,9,...,93,94,95,96,97,98,99,100,101,102
0,8737,4162,-0.209248,0.357954,0.629196,-0.184255,0.056885,-0.114857,0.350544,0.437130,...,0.908823,0.193535,0.601158,0.472143,0.416518,0.165616,-0.131217,-0.149484,0.169427,0
1,85450,10744,0.031433,-0.075381,-0.331462,0.397083,-0.193742,-0.213161,0.124142,-0.106995,...,0.088927,-0.372883,0.766825,0.567994,-0.274872,-0.010145,0.125821,0.652788,0.041750,0
2,9411,2027,0.125079,-0.491263,-0.067740,0.348342,0.386394,-0.614227,0.647710,-0.113106,...,0.208518,-0.419416,0.523473,0.206712,-0.084779,0.145219,-0.224048,0.220312,0.221243,0
3,90701,257000,-0.295387,-0.190678,0.151679,-0.216568,-0.419352,0.025944,0.253975,0.175358,...,-0.524165,-0.357058,0.524379,0.222225,0.068945,-0.049363,-0.116879,-0.165496,-0.057737,0
4,2046,11093,-0.490250,0.234120,0.411242,-0.281497,0.042314,-0.492857,-0.121489,-0.601589,...,0.265339,1.157335,0.535589,0.897540,0.075296,-0.515876,-0.380383,-0.059800,-0.044110,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715606,90737,339855,-0.299822,0.073110,-0.012066,0.064782,-0.182190,-0.198826,0.568433,0.386396,...,-0.193971,0.069791,-1.148958,0.031849,0.104723,0.750949,-0.188681,0.895546,0.247883,0
715607,310,4325,-0.090669,0.012640,-0.389824,0.037508,0.220777,-0.577209,0.255316,0.344268,...,-0.227559,0.906436,0.406652,1.064613,0.322546,0.138281,-0.324130,0.015952,0.281831,0
715608,6585,8079,-0.018634,0.060265,0.285404,-0.016298,0.412535,0.123264,0.647300,0.153524,...,-0.121844,-0.396580,0.522469,0.664378,0.126808,0.028348,0.072730,0.781687,0.404790,0
715609,4881,63899,0.376214,0.035402,-0.026258,0.173349,0.416900,-0.438496,0.514068,0.107551,...,0.096137,0.026553,0.933624,0.594865,0.385034,-0.439389,0.039829,0.344956,-0.593266,0
715610,55556,8226,0.268746,-0.073208,-1.060397,0.506022,-0.044204,-0.704936,0.528931,-0.586521,...,0.250320,-0.197718,-0.567409,1.264782,-0.125973,0.972720,-1.131025,0.405513,0.303397,0

In [34]:
vectors_input_ml = []

vectors_input_ml = pd.DataFrame(data  = vectors_input_ml)

vectors_input_ml = pd.concat([df_p, df_n])

vectors_input_ml

,0,1,2,3,4,5,6,7,8,9,...,93,94,95,96,97,98,99,100,101,102
0,114787,375519,-0.218339,0.051927,0.433674,0.379050,-0.303076,-0.712676,0.246733,-0.184586,...,0.582748,-0.093185,0.197429,0.196804,0.126834,0.829950,-0.282973,-0.087741,0.356805,1
1,114787,285613,-0.218339,0.051927,0.433674,0.379050,-0.303076,-0.712676,0.246733,-0.184586,...,0.718021,0.411645,1.058466,0.447975,-0.278689,0.018391,0.704961,0.852890,-0.188985,1
2,114787,7448,-0.218339,0.051927,0.433674,0.379050,-0.303076,-0.712676,0.246733,-0.184586,...,0.226083,0.141008,0.697741,-0.052053,0.008418,-0.203921,-0.329396,0.021598,-0.066564,1
3,114787,4914,-0.218339,0.051927,0.433674,0.379050,-0.303076,-0.712676,0.246733,-0.184586,...,-0.330690,-0.056626,0.277379,0.462125,0.510014,0.564205,0.191713,-0.279282,-0.163813,1
4,114787,51343,-0.218339,0.051927,0.433674,0.379050,-0.303076,-0.712676,0.246733,-0.184586,...,0.249835,0.005776,0.115309,0.447104,0.288978,0.295816,-0.003162,0.428033,-0.059167,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715606,90737,339855,-0.299822,0.073110,-0.012066,0.064782,-0.182190,-0.198826,0.568433,0.386396,...,-0.193971,0.069791,-1.148958,0.031849,0.104723,0.750949,-0.188681,0.895546,0.247883,0
715607,310,4325,-0.090669,0.012640,-0.389824,0.037508,0.220777,-0.577209,0.255316,0.344268,...,-0.227559,0.906436,0.406652,1.064613,0.322546,0.138281,-0.324130,0.015952,0.281831,0
715608,6585,8079,-0.018634,0.060265,0.285404,-0.016298,0.412535,0.123264,0.647300,0.153524,...,-0.121844,-0.396580,0.522469,0.664378,0.126808,0.028348,0.072730,0.781687,0.404790,0
715609,4881,63899,0.376214,0.035402,-0.026258,0.173349,0.416900,-0.438496,0.514068,0.107551,...,0.096137,0.026553,0.933624,0.594865,0.385034,-0.439389,0.039829,0.344956,-0.593266,0
715610,55556,8226,0.268746,-0.073208,-1.060397,0.506022,-0.044204,-0.704936,0.528931,-0.586521,...,0.250320,-0.197718,-0.567409,1.264782,-0.125973,0.972720,-1.131025,0.405513,0.303397,0

In [35]:
vectors_input_ml.to_csv("vectors_input_ml__from_D50_emb.txt", header = None, index = None, sep = " ")